@{
    ViewBag.Title = "Home Page";
}
    <div>
    <img style="border-radius: 300pt; width:800px ; height: 600px; margin-left: 12%; margin-top: 5%; border: none; " src="~/Images/Logo.jpg" />
</div>