body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.cocktail-body {
    overflow: auto;
    width: auto;
    height: 50px;
}

.img-containter {
    float: left;
    margin-right: 25px;
}

.form-horizontal {
    float: left;
}

.footer {
    position: fixed;
    bottom: 0;
}

.bash {
    width: 100%;
}

#primaryButton {
    display: none;
}

#file {
    width: 300px;
    height: 300px;
}

.cocktail-details {
    display: inline-block;
    width: 40%;
    padding-top: 50px;
    vertical-align: top;
}

.cocktail-picture {
    display: inline-block;
    vertical-align: top;
}

.previousButton {
    margin-top: 210px;
    border-color: #3276B1;
}

.actionButton {
    margin-top: 210px;
    border-color: #3276B1;
}

.previousButtonDesign {
    padding: 15px !important;
    border-color: #3276B1 !important;
}

.NextButtonDesign {
    padding: 15px !important;
    border-color: #3276B1 !important;
}

.edit-button {
    color: white;
    border-radius: 10px;
    padding: 5px;
    background-color: deepskyblue;
    display: inline-block;
}

.delete-button {
    border-radius: 10px;
    padding: 5px;
    background-color: deepskyblue;
    display: inline-block;
}

/*.content-field {
    resize: none;
    border: 3px solid #f2f2f2;
    outline: none;
    width: 550px;
    height: 300px;
    border-radius: 15px;
    text-align: left;
    font: 12px Lato-Light;
    padding: 10px;
}*/
#CocktailListLogo {
    margin-left: 28%;
    background: black;
    padding: 30pt;
    border-radius: 350pt;
    margin-top: 15pt;
}

#CreateButton {
    background: black;
    font-size: xx-large;
    margin-left: 45%;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    border-radius: 30pt;
}

#CreateButtonText {
    color: white;
    font-size: x-large;
    margin-left: 20%;
}

.LikeCounter {
    font-weight: bold;
    color: whitesmoke;
}
.CocktailImage {
    border-radius: 65pt;
}
.well {
    clear: both;
}
.navbar {
    background-color: #3f4c77;
    color: black;
}
body {
    background-image: url(/Images/drink.jpg);
}
.back-container {
    background-color: #bbacab
}
