@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
submit,
input,
select,
textarea {
    max-width: 280px;
    color: white;
    text-decoration: none;
}

.cocktail-body {
    overflow: auto;
    width: auto;
    height: 50px;
}

.img-container {
    float: left;
    margin-right: 25px;
}

.form-horizontal {
    float: left;
}

.footer {
    position: fixed;
    bottom: 0;
}

.bash {
    width: 100%;
}

#primaryButton {
    display: none;
}

#file {
    width: 300px;
    height: 300px;
}

.cocktail-details {
    display: inline-block;
    width: 40%;
    padding-top: 50px;
    vertical-align: top;
}

.cocktail-picture {
    display: inline-block;
    vertical-align: top;
}

.previousButton {
    margin-top: 210px;
    border-color: #3276B1;
}

.actionButton {
    margin-top: 210px;
    border-color: #3276B1;
}

.previousButtonDesign {
    padding: 15px !important;
    border-color: black !important;
    background-color: rgba(187, 172, 171, 0.6) !important;
    color: black;
}

.NextButtonDesign {
    padding: 15px !important;
    border-color: black !important;
    background-color: rgba(187, 172, 171, 0.6) !important;
    color: black;
}

.edit-button {
    color: white;
    border-radius: 10px;
    padding: 5px;
    background-color: deepskyblue;
    display: inline-block;
}

.delete-button {
    border-radius: 10px;
    padding: 5px;
    background-color: deepskyblue;
    display: inline-block;
}

#CocktailListLogo {
    margin-left: 28%;
    background: black;
    padding: 30pt;
    border-radius: 350pt;
    margin-top: 15pt;
}

#CreateButton {
    background: black;
    font-size: xx-large;
    margin-left: 45%;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    border-radius: 30pt;
}

#CreateButtonText {
    color: white;
    font-size: x-large;
    margin-left: 20%;
}

.LikeCounter {
    font-weight: bold;
    color: whitesmoke;
}
.CocktailImage {
    border-radius: 65pt;
}
.well {
    clear: both;
    overflow-wrap: break-word;
    background-color: #c7a99d;
}
.navbar {
    background-color: #3a2a2a;
    color: white;
}
body {
    font-family: 'Raleway', sans-serif;
    background-image: url(/Images/drink.jpg);
}
.back-container {
    background-color: rgba(187, 172, 171, 0.6);
}
.comment-container {
    background-color: rgba(187, 172, 171, 0.6);
}
.temp {
    padding: 20pt; background-color: rgba(187, 172, 171, 0.6); font-size: xx-large; margin-left: 30%; margin-top: 20px; width: 400pt; text-align: center; border-radius: 30pt;
}
.temp1 {
    background-color: rgba(187, 172, 171, 0.6); border-radius: 30pt; color: whitesmoke; margin-left: 45pt; padding: 25pt; padding-bottom: 300pt;
}
.comment-field {
    width: 366px;
    height: 70px;
    text-align: start;
    background-color: #c7a99d;
    color: black;
    overflow-wrap: break-word
}
input::-webkit-input-placeholder{
    color:black !important;
}
.btn {
    background-color: #3a2a2a !important;
    border-color: white;
    color: white !important;
    text-decoration: none;
}
.single-cocktail {
     background-color: rgba(187, 172, 171, 0.6);
     padding-bottom: 20pt; 
     padding-top: 10pt;
     margin-left: 70px;
     border-radius: 10px;
}
#Facebook {
    background-color: royalblue !important;
}
#Google {
    background-color: red !important;
}
#Body {
    color: black !important;
}

