@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Meme Generator</h1>
</div>

<div class="row">
    <div class="meme col-md-2">
        <h2>Meme №1</h2>
        <div>
            Created on <i>22.08.2016</i>
            <br />by <i>Todor</i>
        </div>
        <p>
            Get meme number 1
        </p>
    </div>
    <div class="meme col-md-2">
        <h2>Meme №2</h2>
        <div>
            Created on <i>22.08.2016</i>
            <br />by <i>Todor</i>
        </div>
        <p>
            Get meme number 2
        </p>
    </div>
    <div class="meme col-md-2">
        <h2>Meme №3</h2>
        <div>
            Created on <i>22.08.2016</i>
            <br />by <i>Todor</i>
        </div>
        <p>
            Get meme number 3
        </p>
    </div>
    <div class="meme col-md-2">
        <h2>Meme №4</h2>
        <div>
            Created on <i>22.08.2016</i>
            <br />by <i>Todor</i>
        </div>
        <p>
            Get meme number 4
        </p>
    </div>
    <div class="meme col-md-2">
        <h2>Meme №5</h2>
        <div>
            Created on <i>22.08.2016</i>
            <br />by <i>Todor</i>
        </div>
        <p>
            Get meme number 5
        </p>
    </div>
    <div class="meme col-md-2">
        <h2>Meme №6</h2>
        <div>
            Created on <i>22.08.2016</i>
            <br />by <i>Todor</i>
        </div>
        <p>
            Get meme number 6
        </p>
    </div>
</div>